body {
    padding: 1em 5em;
    background: #3c3c3c;
}

h3 {
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 0.2em;
}

div {
    width:150px;
    display: inline-block;
}

.full {
    height: 150px;
    margin-bottom: 20px;
    margin-left: 1em;
}

.half {
    height: 75px;
}

div:nth-child(2)
{
    margin-bottom:20px;
}


.separator {
    width: 3px;
    background-color: #fff;
    height: 190px;
    margin-bottom: 0;
    margin-left: 1em;
}

/* Color set 1 */

.color11 {
    background-color: #526394;
}

.color12 {
    background-color: #c16351;
}

.color13 {
    background-color: #e07b00;
}

.color14 {
    background-color: #c29186;
}

.color15 {
    background-color: #83d2ea;
}

.color16 {
    background-color: #ffc263;
}

.gray1 {
    background-color: #7c7c7c;
}

/* Color set 2 */

.color21 {
    background-color: #b0b6ca;
}

.color22 {
    background-color: #d4a9a1;
}

.color23 {
    background-color: #d1b492;
}

.color24 {
    background-color: #d8c3be;
}

.color25 {
    background-color: #d0e4eb;
}

.color26 {
    background-color: #f1e4cd;
}

.gray2 {
    background-color: #ccc;
}

/* Color set 3 */

.color31 {
    background-color: #c16351;
}

.color32 {
    background-color: #ea8751;
}

.color33 {
    background-color: #ffc263;
}

.color34 {
    background-color: #fde8ac;
}

/* Color set 4 */

.color41 {
    background-color: #526394;
}

.color42 {
    background-color: #c16351;
}

.color43 {
    background-color: #e79c41;
}

.color44 {
    background-color: #ccc;
}