body {
    padding: 1em 5em;
    background: #3c3c3c;
}

h1 {
    font-family: sans-serif;
    color: #fff;
}

div {
    width:150px;
    height: 150px;
    margin-left: 1em;
    display: inline-block;
}

/* Color set 1 */

.color11 {
    background-color: #c16351;
}

.color12 {
    background-color: #cf6f51;
}

.color13 {
    background-color: #ea8751;
}

.color14 {
    background-color: #ffc263;
}

.color15 {
    background-color: #fde8ac;
}

.color16 {
    background-color: #fde8ac;
}

.gray1 {
    background-color: #7c7c7c;
}

/* Color set 2 */

.color21 {
    background-color: #fde8ac;
}

.color22 {
    background-color: #fde8ac;
}

.color23 {
    background-color: #fde8ac;
}

.color24 {
    background-color: #fde8ac;
}

.color25 {
    background-color: #fde8ac;
}

.color26 {
    background-color: #fde8ac;
}

.gray2 {
    background-color: #ccc;
}

/* Color set 3 */

.color31 {
    background-color: #c16351;
}

.color32 {
    background-color: #ea8751;
}

.color33 {
    background-color: #ffc263;
}

.color34 {
    background-color: #fde8ac;
}

/* Color set 4 */

.color41 {
    background-color: #526394;
}

.color42 {
    background-color: #527cb7;
}

.color43 {
    background-color: #6fbcfd;
}

.color44 {
    background-color: #b7e4fd;
}